@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";



/* font-family: Arial, "TikTok Sans", "Manufacturing Consent", "Lato", sans-serif, "DM Sans", "Inter"; */

.logo {
  font-family: 'Manufacturing Consent', sans-serif;
}

.list{
  font-family: 'DM Sans' sans-serif;
}

.cart{
  font-family: 'TikTok Sans' sans-serif;
}

.hero-text{
  font-family: 'Lato' sans-serif;
}